[submodule "installing_rust/rustc-llvm-proxy"]
	path = installing_rust/rustc-llvm-proxy
	url = https://github.com/denzp/rustc-llvm-proxy.git
[submodule "installing_rust/rust-ptx-linker"]
	path = installing_rust/rust-ptx-linker
	url = https://github.com/denzp/rust-ptx-linker.git
[submodule "mpi/rsmpi"]
	path = mpi/rsmpi
	url = https://github.com/rsmpi/rsmpi.git
[submodule "interop/cpp2rust/cmake-cargo"]
	path = interop/cmake-cargo
	url = https://github.com/AndrewGaspar/cmake-cargo.git
